@mixin flashyHover {
  background: linear-gradient(
      217deg,
      rgb(0, 166, 255),
      rgb(23, 109, 113) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 191, 0.8), rgb(0, 8, 255) 70.71%);
  color: white;
  text-shadow: 2px 2px black;
  border: solid 3px rgb(255, 255, 255);
}

@mixin flashyButton {
  text-decoration: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: large;
  text-transform: uppercase;
  padding: 7px;
  font-weight: bolder;
  font-family: "password";

  border-radius: 8px;
  border: none;

  transition: all 3s ease;
  border: solid 3px rgba(0, 0, 0, 0);
  &:hover {
    @include flashyHover();
  }
}
